* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 6fr;
}

.header {
  background-color: pink;
  padding: 10px;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: grid;
  grid-template-columns:3fr 2fr;
  align-items: center;
  padding-right: 5px;
  gap: 10px;
}

.search {
  display: flex;
  gap: 10px;
}

.searchbar {
  background-color: gray;
  border-radius: 15px;
  height: 20px;
  flex: 1;
  
}

.profile,
.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  background-color: purple;
  color: white;
  width: 5rem;
  padding: 5px;
  border: none;
  border-radius: 15px;
}

.sidebar {
  background-color: lightblue;
  padding: 15px;
  grid-row: 1/-1;
}

.sidebar > * {
  margin-bottom: 10px;
}

.divider {
  border-top: 2px solid #bbb;
  border-radius: 2px;
}

li {
  list-style: none;
}

.content {
  background-color: lightcoral;
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.your-projects {
  grid-column: 1/-1;
}

.cards {
  background-color: white;
  height: 200px;
}